<%- include('partials/_header') %>

<div class="container mx-auto">
    <div class="grid grid-cols-2 gap-4 mt-5">
        <div class="col-span-1">
            <table class="w-full border border-collapse">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="p-2 text-center">ID</th>
                        <th class="p-2 text-center">Nombre</th>
                        <th class="p-2 text-center">Tipo</th>
                        <th class="p-2 text-center">Precio</th>
                        <th class="p-2 text-center">Imagen</th>
                        <th class="p-2 text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                          <tr class="border-t">
                            <td class="p-2 text-center"><%= i + 1 %></td>
                            <td class="p-2"><%= data[i].nombre %></td>
                            <td class="p-2"><%= data[i].tipo %></td>
                            <td class="p-2 text-center"><%= data[i].precio %></td>
                            <td><img src="<%= data[i].imagen_url %>" alt="Imagen del producto" width="100"></td>
                            <td class="p-2 text-center">
                                <a href="/update/<%=data[i].id%>" class="bg-green-500 text-white px-2 py-1 rounded hover:bg-green-600">Editar</a>
                                <a href="/delete/<%=data[i].id%>" class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600 ml-2">Borrar</a>
                            </td>
                          </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-span-1">
            <div class="bg-white border rounded p-4">
                <form action="/add" method="post">
                    <div class="mb-4">
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto" class="w-full p-2 border rounded focus:outline-none">
                    </div>
                    <div class="mb-4">
                        <select type="text" name="tipo" placeholder="Tipo del producto" class="w-full p-2 border rounded focus:outline-none">
                            <option>Hamburguesas</option>
                            <option>Acompañamientos</option>
                            <option>Bebidas</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <input type="text" name="descripcion" placeholder="Descripción del producto" class="w-full p-2 border rounded focus:outline-none">
                    </div>
                    <div class="mb-4">
                        <input type="number" id="precio" name="precio" placeholder="Precio del producto" class="w-full p-2 border rounded focus:outline-none">
                    </div>

                    <div class="mb-4">
                        <input type="text" name="imagen_url" placeholder="URL de la imagen" class="w-full p-2 border rounded focus:outline-none" value="<%= data.imagen_url %>">
                    </div>
                    

                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Guardar Producto</button>
                </form>
            </div>
        </div>
    </div>
</div>
